body{
    margin:0;
    overflow: hidden;
}

.tick text{
    font: 16px sans-serif;
    color: #3e3b46;
}
label{
    color: #3e3b46;
    font: 18px sans-serif;
}

.radioDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
}

.legend{
    font-size: 18px;
    font-family: sans-serif;
}

.tooltip{
    position: absolute;
    font: 18px sans-serif;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
}

.tooltip_text{
    color: #817b92 !important;
    font: 18px sans-serif;
}